name: Lint & run unit tests 
on: [push, pull_request]
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
            python-version: "3.10"
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pipe
            pip install -r tests/test-requirements.txt
            pip install -r requirements.txt
      - name: Run unit tests
        run: |
            python -m pytest
  release:
    needs: lint-test
    if: ${{ github.ref_name == 'main'}}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install build deps
        run: |
          pip install build hatch
      - name: Bump Github version & push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Bump package vers
        run: |
          hatch version ${{ steps.tag_version.outputs.new_tag }}
      - name: Build
        run: |
          python -m build
      - name: Create Github release
        uses: softprops/action-gh-release@v2.0.4
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          fail_on_unmatched_files: true
          files: "dist/*"
        
